.workWrapper {
    height: auto;
    position: relative;
    width: 45%;
}

.workWrapper img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

.workWrapper a{
    text-decoration: none;
}

.imageContainer { 
    width: fit-content; 
    z-index: -1;
}

.workTitle{
    font-size: 1.5vw;
    color: #4C86B6;
}

.workDescription{
    font-family: "Neue Haas Grotesk Display Pro";
    font-weight: medium;
    font-size: 19px;
    color: #9DDBFD;
    margin-top: 20px;
    margin-bottom: 50px;
}
