@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url('/fonts/NeueHaasDisplayMediu.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
    font-weight: black;
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
    font-weight: medium;
}


body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

h1 {
    font-family: "Neue Haas Grotesk Display Pro";
    font-weight: bold;
	font-size: 36px;
	margin: 0;
	padding: 0;
}

h2{
	margin: 0;
	padding: 0;
}

p{
	padding: 0;
	margin: 0;
}

li{
	font-family: "Neue Haas Grotesk Display Pro";
    font-weight: 500;
	font-size: 19px;
}